<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@100;200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ca58c8957e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Todo App</title>
</head>
<body>
    <h1 class="font-effect-neon">Todo App</h1>
    <hr>
    <div class="mainBody">
        <div class="formBody">
            <form action="http://localhost:8000" method="POST">
                <div class="input descriptionDiv">
                    <label for="description">DESCRIPTION</label>
                    <input type="text" id="description" name="description" placeholder="What do you need to do?">
                </div>
                <div class="group">
                    <div class="input categoryDiv">
                        <label for="category">CATEGORY</label>
                        <select name="category" id="category">
                            <option style="display:none">Choose a Category</option>
                            <option value="personal">Personal</option>
                            <option value="work">Work</option>
                            <option value="school">School</option>
                            <option value="cleaning">Cleaning</option>
                            <option value="others">Others</option>
                          </select>
                    </div>
                    <div class="input dateDiv">
                        <label for="date">DUE DATE</label>
                        <input type="date" id="date" name="date" placeholder="dd/mm/yyyy">
                    </div>

                </div>
                <div class="buttons">
                    <button type="submit" id="add-task">ADD TASK</button>
                    <!-- <button type="button" id="delete-task">DELETE TASK</button> -->
                </div>

            </form>
        </div>

        <div id="taskContainer">
               
            <div id="buttons_dropdowns">
                <label>Sort By</label>   
                <select name="Sort By" id="sortby">
                    <option style="display:none">Sort By</option>
                    <option id="latestfirst" value="latestfirst">Latest First</option>
                    <option id="oldestfirst" value="oldestfirst">Oldest First</option>
                </select>
    
                <label>Display</label>
                <select name="Display By Category" id="displaycategorywise">
                    <option style="display: none;">All</option>
                    <option id="all" value="all">All</option>
                    <option id="work" value="work">Work</option>
                    <option id="personal" value="personal">Personal</option>
                    <option id="school" value="school">School</option>
                    <option id="cleaning" value="cleaning">Cleaning</option>
                    <option id="others" value="others">Others</option>
                </select>
    
                <button type="button" id="delete-all-tasks">Delete all Tasks</button>
            </div>

            
            <div id="heading"><h3>My Tasks</h3></div>

            <div id="displayTasks" class="displayTasks">
                <table id="taskTable">
                    <thead id="taskTableHead">
                        <tr>
                            <th>Select</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Status</th>
                            <th>Created At</th>
                            <th>Due Date</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody id="taskTableBody">

                    </tbody>
                </table>
            </div>
        </div>

        <div id="changeStatusBox" style="height: 200px; width: 200px; border: 2px solid black; background-color: aqua; display: none;">
            Hi
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
</body>
</html>