<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@100;200&display=swap" rel="stylesheet">
    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/ca58c8957e.js" crossorigin="anonymous"></script>
    <!-- NOTY -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--CUSTOM STYLE SHEET  -->
    <link rel="stylesheet" href="/css/style.css">
    <title>Todo || Home</title>
</head>
<body>


    <div id="homepage">
            <div>   
                    <% if(user!=undefined){ %>
                    <a href="/user/authenticated/logoutUser" id="signoutButton">Signout</a>
                    <% }else{ %>
                        <a href="/user/signup" type="button" id="signupButton">Signup</a>
                        <a href="/user/signin" id="signinButton">Signin</a>
                    <% } %>

                <h1 class="font-effect-neon">Todo App</h1>
            </div>
            <hr>
            <% if(user!=undefined){ %>
                <div class="mainBody">
                    <% if(user!=undefined){ %>
                        <p>Hi <%= user.name %></p>
                    <% } %>
                    <div class="formBody">
                        <form method="POST" id="createTaskForm">
                            <div class="input descriptionDiv">
                                <label for="description">DESCRIPTION</label>
                                <input type="text" id="description" name="description" placeholder="What do you need to do?">
                            </div>
                            <div class="group">
                                <div class="input categoryDiv">
                                    <label for="category">CATEGORY</label>
                                    <select name="category" id="category">
                                        <option style="display:none">Choose a Category</option>
                                        <option value="personal">Personal</option>
                                        <option value="work">Work</option>
                                        <option value="school">School</option>
                                        <option value="cleaning">Cleaning</option>
                                        <option value="others">Others</option>
                                    </select>
                                </div>
                                <div class="input dateDiv">
                                    <label for="date">DUE DATE</label>
                                    <input type="date" id="date" name="date" placeholder="dd/mm/yyyy">
                                </div>
            
                            </div>
                            <div class="buttons">
                                <button type="submit" id="add-task">ADD TASK</button>
                                <!-- <button type="button" id="delete-task">DELETE TASK</button> -->
                            </div>
            
                        </form>
                    </div>
            
                    <div id="taskContainer">
                        
                        <div id="buttons_dropdowns">
                            <button type="button" id="get-all-tasks">GET ALL TASKS</button>
                            <label>Sort By</label>   
                            <select name="Sort By" id="sortby">
                                <!-- <option style="display:none">Sort By</option> -->
                                <option id="latestfirst" value="latestfirst">Latest First</option>
                                <option id="oldestfirst" value="oldestfirst">Oldest First</option>
                            </select>
                
                            <label>Category</label>
                            <select name="Display By Category" id="displaycategorywise">
                                <option style="display: none;">All</option>
                                <option id="all" value="all">All</option>
                                <option id="work" value="work">Work</option>
                                <option id="personal" value="personal">Personal</option>
                                <option id="school" value="school">School</option>
                                <option id="cleaning" value="cleaning">Cleaning</option>
                                <option id="others" value="others">Others</option>
                            </select>
            
                            <label>Status</label>
                            <select name="Display By Status" id="displaystatuswise">
                                <option style="display: none;">All</option>
                                <option id="all" value="All">All</option>
                                <option id="work" value="Completed">Completed</option>
                                <option id="pending" value="Pending">Pending</option>
                                <option id="inprogress" value="In Progress">In Progress</option>
            
                            </select>
                
                            <button type="button" id="delete-all-tasks">Delete all Tasks</button>
                        </div>
            
                        
                        <div id="heading"><h3>My Tasks</h3></div>
                        
                            <div id="displayTasks" class="displayTasks">
                                <table id="taskTable">
                                    <thead id="taskTableHead">
                                        <tr>
                                            <th>Select</th>
                                            <th>Description</th>
                                            <th>Category</th>
                                            <th>Status</th>
                                            <th>Created At</th>
                                            <th>Due Date</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody id="taskTableBody">
                
                                    </tbody>
                                </table>
                            </div>
                    </div>
            
                    <div id="changeStatusBox">
                        
                        <form id="changeStatusForm">
                            <div style="display: flex; flex-direction: row;">
                                <p>Select to change Status:</p><button type="button" id="closeButton">X</button>
                            </div>
                            
                            <br>
                            <input type="radio" id="inprogress" name="status" value="In progress">
                            <label for="">In Progress</label>
                            <br>
                            <input type="radio" id="pending" name="status" value="Pending">
                            <label for="">Pending</label>
                            <br>
                            <input type="radio" id="completed" name="status" value="Completed">
                            <label for="">Completed</label>
                            <br>
                            <input type="submit" value="submit">
                        </form>
                    </div>
            
                </div>
            <% } %>

    </div>
    
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="/js/functions.js" type="module"></script>
    <script src="/js/script.js" type="module"></script>
</body>
</html>
