html {
  height: 100%;
}
body {
    font-family: "Pathway Extreme";
    height: 100%;
    overflow: hidden;
  }

  h1{
    text-align: center;
    color: grey;
    font-size: 32px;
  }
  .formBody{
    font-size: 18px;
  }
  .formBody input{
    border: none;
    outline: none;
  }
  .formBody select{
    border: none;
    outline: none;
  }
  .group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }
  .buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .input{
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .categoryDiv{
    border-right: 2px solid lightgray;
    margin: 5px;
  }

  .dateDiv{
    margin: 5px;
  }

  #displayTasks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #taskContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .delete-button{
    cursor: pointer;
  }

  #buttons_dropdowns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #changeStatusBox{
    height: 200px; 
    width: 200px; 
    border: 2px solid black; 
    background-color: aqua; 
    display: none;
  }

  .loginHeading h2{
    margin: 0%;
    text-align: center;
  }

  .loginHeading small{
    margin-top: 10px;
    margin-bottom: 0%;
    text-align: center;
  }

  .signMain{
    height: 100%;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 15%;
  }

.label{
  display: block;
  text-align: left;
  margin: 0;
  font-weight: bold;
}

.input{
  width: 100%;
}

.signForm{
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  width: 50%;
}

.submit_button{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}